<%= render :partial => "mobile_menu_bar" %>

<div class="swiper-container swiper-content">
  <div class="swiper-wrapper" style="background-image: url('assets/images/background.jpg')">
    <% @company.employees.each do |emp| %>
        <div class="swiper-slide">
          <div class="inner">
            <h1><%= emp.name %></h1>
            <div class="movie-text"><%= emp.role %></div>
            <div class="clearfix"></div>
          </div>
        </div>
    <% end %>
  </div>
</div>
<div class="swiper-container swiper-nav">
  <div class="swiper-wrapper">
    <% @company.employees.each_with_index do |emp, index| %>
        <% if index >= 1 %>
            <div class="swiper-slide">
              <span class="angle"></span>
              <!--<img src="<%#= emp.avatar.url %>">-->
              <img src="/assets/images/amol.jpg">
              <div class="title"><%= emp.name %></div>
            </div>
        <% else %>
            <div class="swiper-slide active-nav">
              <span class="angle"></span>
              <!--<img src="<%#= emp.avatar.url %>">-->
              <img src="/assets/images/amol.jpg">
              <div class="title"><%= emp.name %></div>
            </div>
        <% end %>
    <% end %>

  </div>
</div>

<script>
//    $(function(){
//        $('.navbar-brand').css('float','none');
//    })
</script>
